/* .col-sm {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
} */

#card1 {
    background-color: #e7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
}